.about-frame h1{
  font-size: 6vw;
  letter-spacing: -0.05em;
  margin: 30px 0px 10px 0px;
}

.about-frame h2{
  font-size: 1.7vw;
  letter-spacing: -0.02em;
}

.about-frame .author a{
  font-size: 1.5em;
}

.about-frame h3{
  font-size: 1.5vw;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.techs p, .credits p{
  margin: 10px 0px 10px 0px;
}

.back-button{
  margin: 45px 0px 30px 0px;
}

.back-button img{
  width: 2.5vw;
  filter: invert(100%);
  opacity: 0.8;
  vertical-align: middle;
}

.back-button .text{
  vertical-align: middle;
  margin-left: 5px;
  text-transform: uppercase;
}
