.btn-search{
  background-color: transparent;
  border: none;
  margin-left: -58px;
}

.material-icons{
  font-size: 40px;
  color: rgba(0, 0, 0, 0.3);
}

#city-name{
  font-weight: 100;
  font-size: 2.5vw;
  background-color: rgba(255,255,255,0.15);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  width: 25vw;
  text-align: center;
  transition: all 500ms;
}

#city-name:focus{
  background-color: rgba(255,255,255,0.30);
  width: 35vw;
}

#city-name:focus::placeholder{
  opacity: 0;
}

form{
  display: flex;
}

.error{
  font-weight: 100;
  font-size: 20px;
}

.weather-result{
  transition: all 1s;
}

.weather-result h1{
  font-weight: 100;
  font-size: 6vw;
  color: rgba(0,0,0,0.6);
  letter-spacing: -0.05em;
  margin-bottom: 20px;
}

.weather-result small{
  margin-left: -5px;
  font-size: 0.5em;
  vertical-align: super;
  font-style: italic;
  letter-spacing: -0.05em;
  font-family: 'Alegreya';
}

.weather-result-temp{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temp-value{
  font-weight: 100;
  font-size: 7vw;
  letter-spacing: -0.07em;
  display: inline-block;
}

.temp-unit{
  margin-left: 5px;
  font-size: 0.35em;
  vertical-align: super;
  letter-spacing: -0.05em;
}

.weather-icon{
  filter: invert(100%);
  opacity: 0.8;
  width: 4vw;
  display: inline-block;
  margin-left: 20px;
}

.desc{
  margin-top: 20px;
  opacity: 0.6;
  font-weight: 100;
  font-size: 2.2vw;
  letter-spacing: 0.05em;
}

.about-link{
  margin: 45px 0px 30px 0px;
}

.about-link .info-icon{
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  padding: 0px 8px 0px 8px;
  display: inline;
  margin-right: 5px;
  text-transform: lowercase;
}

.info-icon:hover{
  text-decoration: none !important;
}

.about-link .text{
  font-size: 80%;
  letter-spacing: -0.05em;
}